@model wine_app.Domain.Result<IEnumerable<wine_app.Models.Grape.GrapeViewModel>>
@{
    ViewData["Title"] = "Grapes";
    var hasErrors = !string.IsNullOrWhiteSpace(@Model.Error);
}
<script src="~/js/grape.js"></script>

<h1>Grapes</h1>
@if (hasErrors)
{
    <div class="form-group">
        <div class="alert alert-danger">
            <strong>@Model.Error</strong>
        </div>
    </div>
}
<div>
    @if (!hasErrors)
    {
        <a class="btn btn-secondary" asp-controller="Grape" asp-action="InsertGrape">Add New Grape</a>
    }
</div>
<hr />
<div class="row"></div>
<div>
    <table class="table" id="grapeColourTable">
        <thead>
            <tr id="header">
                <th>
                    Name
                </th>
                <th>
                    Colour
                </th>
                <th>
                    Note
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var grape in Model.Data.OrderBy(x => x.Name))
            {
                <tr>
                    <td>
                        @grape.Name
                    </td>
                    <td>
                        @grape.GrapeColourString
                    </td>
                    <td>
                        @grape.Note
                    </td>
                    <td>
                        @grape.DateCreated
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Grape" asp-action="EditGrape" asp-route-id="@grape.Id">Edit</a>
                        <button class="btn btn-danger" id="deleteButton" onclick="deleteGrape(@grape.Id, @Html.Raw("'"+grape.Name+"'"))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>