@model wine_app.Domain.Result<IEnumerable<wine_app.Models.Grape.GrapeColour>>
@{
    ViewData["Title"] = "Grape Colours";
}
<script src="~/js/grape.js"></script>

<h1>Grape Colours</h1>
<div>
    <a class="btn btn-secondary" asp-controller="Grape" asp-action="InsertColour">Add new Grape Colour</a>
</div>
<hr />
@if (!string.IsNullOrWhiteSpace(@Model.Error))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="alert alert-danger">
                <strong>@Model.Error</strong>
            </div>
        </div>
    </div>
}
<div class="row"></div>
<div>
    <table class="table" id="grapeColourTable">
        <thead>
            <tr id="header">
                <th>
                    Colour
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colour in Model.Data.OrderBy(x => x.Colour))
            {
                <tr>
                    <td>
                        @colour.Colour
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Grape" asp-action="EditColour" asp-route-id="@colour.Id">Edit</a>
                        <button class="btn btn-danger" id="deleteButton" onclick="deleteGrapeColour(@colour.Id, @Html.Raw("'"+colour.Colour+"'"))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>