@model wine_app.Domain.Result<IEnumerable<wine_app.Models.Grape.GrapeColour>>
@{
    ViewData["Title"] = "Grape Colours";
    var hasErrors = !string.IsNullOrWhiteSpace(@Model.Error);
}
<script src="~/js/grape.js"></script>

<h1>Grape Colours</h1>
@if (hasErrors)
{
    <div class="form-group">
        <div class="alert alert-danger">
            <strong>@Model.Error</strong>
        </div>
    </div>
}
<div>
    @if (!hasErrors)
    {
        <a class="btn btn-primary" asp-controller="Grape" asp-action="InsertColour">Add new Grape Colour</a>
    }
    </div>
<hr />
<div class="row"></div>
<div>
    <table class="table" id="grapeColourTable">
        <thead>
            <tr id="header">
                <th>
                    Colour
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var colour in Model.Data.OrderBy(x => x.Colour).ThenBy(x => x.Id))
            {
                <tr>
                    <td>
                        @colour.Colour
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Grape" asp-action="EditColour" asp-route-id="@colour.Id">Edit</a>
                        <button class="btn btn-danger" id="deleteButton" onclick="deleteGrapeColour(@colour.Id, @Html.Raw("'"+colour.Colour+"'"))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>