@model wine_app.Domain.Result<wine_app.Models.PagedList<IEnumerable<wine_app.Models.StopperType.StopperType>>>
@{
    ViewData["Title"] = "Stopper Types";
    var hasErrors = !string.IsNullOrWhiteSpace(@Model.Error);
    var stopperTypes = Model.Data?.Data;
}
<script src="~/js/delete.js"></script>

<h1>Stopper Types</h1>
@if (hasErrors)
{
    <div class="form-group">
        <div class="alert alert-danger">
            <strong>@Model.Error</strong>
        </div>
    </div>
}
<div>
    @if (!hasErrors)
    {
        <a class="btn btn-primary" asp-controller="StopperType" asp-action="Insert">Add New Stopper Type</a>
    }
</div>
<hr />
<div class="row"></div>
@if(stopperTypes != null)
{ 
    <div>
        <table class="table" id="stopperTypesTable">
            <thead>
                <tr id="header">
                    <th>
                        Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var stopperType in stopperTypes.OrderBy(x => x.Name).ThenBy(x => x.Id))
                {
                    <tr>
                        <td>
                            <a asp-controller="StopperType" asp-action="Edit" asp-route-id="@stopperType.Id">@stopperType.Name</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-controller="StopperType" asp-action="Edit" asp-route-id="@stopperType.Id">Edit</a>
                            <button 
                                    class="btn btn-danger" 
                                    id="deleteButton" 
                                    onclick="deleteEntity('StopperType', @stopperType.Id, @Html.Raw("'"+stopperType.Name+"'"), 'Stopper Type', 'Stopper Types')">
                            Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <partial name="_pagination" />
        </div>
    </div>
}