@model wine_app.Domain.Result<wine_app.Models.PagedList<IEnumerable<wine_app.Models.Country.Country>>>
@{
    ViewData["Title"] = "Countries";
    var hasErrors = !string.IsNullOrWhiteSpace(@Model.Error);
    var countries = Model.Data.Data;
}
<script src="~/js/country.js"></script>

<h1>Countries</h1>
@if (hasErrors)
{
    <div class="form-group">
        <div class="alert alert-danger">
            <strong>@Model.Error</strong>
        </div>
    </div>
}
<div>
    @if(!hasErrors)
    {
        <a class="btn btn-primary" asp-controller="Country" asp-action="Insert">Add New Country</a>
    }
</div>
<hr />
<form asp-action="List" method="get">
    <div class="form-actions no-color">
        <p>
            Filter by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a class="btn btn-default" asp-controller="Country" asp-action="List">Clear</a>
        </p>
    </div>
</form>
<div class="row"></div>
<div>
    <table class="table" id="countriesTable">
        <thead>
            <tr id="header">
                <th>
                    Name
                </th>
                <th>
                    ISO Code
                </th>
                <th>
                    Created
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries.OrderBy(x => x.Name).ThenBy(x => x.Id))
            {
                <tr>
                    <td>
                        @country.Name
                    </td>
                    <td>
                        @country.IsoCode
                    </td>
                    <td>
                        @country.DateCreated
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Country" asp-action="View" asp-route-id="@country.Id">View</a>
                        <button class="btn btn-danger" id="deleteButton" onclick="deleteCountry(@country.Id, @Html.Raw("'"+@country.Name+"'"))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.Data.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Data.Page ? "active" : "")">
                    <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
</div>