@model IEnumerable<wine_app.Models.Country.Country>
@{
    ViewData["Title"] = "Countries";
}

<h1>Countries</h1>
<div>
    @Html.ActionLink("Add New Country", "Add", "Country", null, new { @class = "btn btn-secondary" })
</div>
<hr />
<div class="row"></div>
<div>
    <table class="table" id="countriesTable">
        <thead>
            <tr id="header">
                <th>
                    Name
                </th>
                <th>
                    Note
                </th>
                <th>
                    Created
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.OrderBy(x => x.Name))
            {
                <tr>
                    <td>
                        @country.Name
                    </td>
                    <td>
                        @country.Note
                    </td>
                    <td>
                        @country.DateCreated
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Country", new { id = country.Id }, new { @class = "btn btn-secondary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>