@model wine_app.Domain.Result<IEnumerable<wine_app.Models.Country.Country>>
@{
    ViewData["Title"] = "Countries";
}
<script src="~/js/country.js"></script>

<h1>Countries</h1>
<div>
    @Html.ActionLink("Add New Country", "Insert", "Country", null, new { @class = "btn btn-secondary" })
</div>
<hr />
<div class="row"></div>
<div>
    <table class="table" id="countriesTable">
        <thead>
            <tr id="header">
                <th>
                    Name
                </th>
                <th>
                    Note
                </th>
                <th>
                    Created
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Model.Data.OrderBy(x => x.Name))
            {
                <tr>
                    <td>
                        @country.Name
                    </td>
                    <td>
                        @country.Note
                    </td>
                    <td>
                        @country.DateCreated
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Country" asp-action="Edit" asp-route-id="@country.Id">Edit</a>
                        <button class="btn btn-danger" id="deleteButton" onclick="deleteCountry(@country.Id, @Html.Raw("'"+@country.Name+"'"))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>