@model wine_app.Domain.Result<wine_app.Models.PagedList<IEnumerable<wine_app.Models.Region.RegionViewModel>>>
@{
    ViewData["Title"] = "Regions";
    var hasErrors = !string.IsNullOrWhiteSpace(@Model.Error);
}
<script src="~/js/grape.js"></script>

<h1>Regions</h1>
@if (hasErrors)
{
    <div class="form-group">
        <div class="alert alert-danger">
            <strong>@Model.Error</strong>
        </div>
    </div>
}
<div>
    @if (!hasErrors)
    {
        <a class="btn btn-primary" asp-controller="Region" asp-action="Insert">Add New Region</a>
    }
</div>
<hr />
<div class="row"></div>
<div>
    <table class="table" id="regionTable">
        <thead>
            <tr id="header">
                <th>
                    Name
                </th>
                <th>
                    Country
                </th>
                <th>
                    Note
                </th>
                <th>
                    Date Created
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var region in Model.Data.Data.OrderBy(x => x.Name).ThenBy(x => x.Country).ThenBy(x => x.Id))
            {
                <tr>
                    <td>
                        <a asp-controller="Region" asp-action="View" asp-route-id="@region.Id">@region.Name</a>
                    </td>
                    <td>
                        @region.Country
                    </td>
                    <td>
                        @region.Note
                    </td>
                    <td>
                        @region.DateCreated
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Region" asp-action="View" asp-route-id="@region.Id">View</a>
                        <button class="btn btn-danger" id="deleteButton" onclick="deleteRegion(@region.Id, @Html.Raw("'"+region.Name+"'"))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <ul class="pagination">
            <li class="page-item">
                @if (Model.Data.Page > 1)
                {
                <li class="page-item">
                    <a class="page-link" asp-route-currentpage="@Model.Data.PreviousPage">Previous</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" asp-route-currentpage="@Model.Data.PreviousPage">Previous</a>
                </li>
            }

                @{
                    var currentPage = Model.Data.Page;
                    var pageCount = Model.Data.TotalPages;

                    var toPage = Model.Data.ToPage;

                    if (Model.Data.TotalPages - Model.Data.ToPage == 1)
                    {
                        toPage = Model.Data.TotalPages;
                    }

                    if (Model.Data.FromPage > 1)
                    {
                        <li>
                            <a class="page-link" asp-route-currentpage="1">1</a>
                        </li>
                        if (Model.Data.FromPage > 2)
                        {

                            <li>
                                <a class="page-link" asp-route-currentpage="@Model.Data.FirstMiddlePage">...</a>
                            </li>
                        }
                    }

                    for (int i = Model.Data.FromPage; i <= toPage; i++)
                    {
                        <li class="page-item @(i == Model.Data.Page ? "active" : "")">
                            <a asp-page="/pagination" asp-route-currentpage="@i" class="page-link">@i</a>
                        </li>
                    }

                    if (toPage < Model.Data.TotalPages)
                    {
                        <li>
                            <a class="page-link" asp-route-currentpage="@Model.Data.LastMiddlePage">...</a>
                        </li>
                        if (toPage < Model.Data.TotalPages - 1)
                        {
                            <li>
                                <a class="page-link" asp-route-currentpage="@Model.Data.TotalPages">@Model.Data.TotalPages</a>
                            </li>
                        }

                    }

                }

                <li class="page-item">
                    @if (Model.Data.Page < Model.Data.TotalPages)
                    {
                        <a class="page-link" asp-route-currentpage="@Model.Data.NextPage">Next</a>
                    }
                    else
                    {
                        <a class="page-item disabled">
                            <span class="page-link">Next</span>
                        </a>
                    }
            </ul>
        </div>
</div>